<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT MANAGEMENT PROJECT</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/tablecenter.css'%}">
</head>
<body>
    <h1 style="text-align: center;">Student details</h1>
   <table class="center">
   <thead>
        <tr>
                <th>SNO</th>
                <th>SName</th>
                <th>Saddress</th>
        </tr> 
        <br>
    </thead>
        {% for student in students %}
            <tr>
                <td>{{student.sno}}</td>
                <td>{{student.sname}}</td>
                <td>{{student.saddress}}</td>
                <td><a href="delete/{{student.id}}">delete</a></td>
                <td><a href="update/{{student.id}}">update</a></td>
            </tr>
            {%endfor %}
   </table><br><br>
   <div style="text-align:center ;">
   <a  href="../studentdetailsform"><button type="button">Add Record</button></a>
</div>
</div>
</body>
</html>