
<!DOCTYPE html>
<html lang="en">
     
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT ADDITION</title>
    <!-- {%load static%} -->
 </head>
<!-- <body style="background-image:url({{STATIC_URL}} 'images/background.jfif');"> -->
    <div style="text-align: center;"class="container">
        <h1>Add a student details</h1>
     <form method="POST">
    {{form.as_p}}
 
    {%csrf_token%}
    <input type="submit" value="Add Record">
    </form>
</div>
 
</body>
</html>