<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
</head>
<body>
    <div class="container" style="text-align: center;">
    <img style="height:400px;width:500px;"src="{% static 'images/titleimage.jfif'%}" alt=""><br>

    <a style="text-decoration:none;color: #000;font-size: large;" href="/studentdetails"><h2><button style="background-color: gray;border-radius: 1em; "type="button">click here to view student database</a>
    </h2></div>
</body>
</html>